/* Font Import */
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Monoton&display=swap');

/* Background Image Import */
html {
    background: url(../images/desktop-bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    z-index: 0;
}

/* Styling for non-mobile devices */
body {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Styling for titles and headers */
#title {
    width: auto;
    height: 125px;
    background-color: black;
    text-align: center;
}

h1 {
    font-family: monoton;
    color: white;
    font-size: 4.1rem;
    margin: auto;
    padding-top: 1vh;
}

#home:hover {
    cursor: pointer;
    color: rgb(0, 105, 240);
}

h2 {
    font-family: monoton;
    color: white;
    padding: 0;
    margin: 0;
}

h3 {
    font-family: monoton;
    padding: 0;
    margin: 0;
}

/* Styling for home page content */
#main-container {
    display: flex;
    margin: 0 auto 0 auto;
    max-height: 525px;
}

#restaurant-list {
    position: relative;
    width: 20vw;
    height: 40vw;
    min-height: 350px;
    max-height: 525px;
    min-width: 125px;
    overflow: hidden;
    background-color: rgb(175, 175, 175);
}


#list-fade {  /* used on both pages */
    pointer-events: none;
    width: 100%;
    height: 50px;
    z-index: 5;
    position: absolute;
    bottom: 0;
    background: linear-gradient(
        rgba(0,0,0,0),
        rgba(0,0,0,.3),
        rgba(0,0,0)
    )  
}

.scroll {
    overflow: auto;
    width: Calc(20vw + 20px);
    height: 40vw;
    max-height: 525px;
    min-height: 350px;
}

.rest-list-item {
    font-family: fredoka one;
    font-size: 1.5vw;
    margin: 0;
    padding: 1rem;
    border-bottom: 2.5px solid rgb(65, 65, 65);
}

.rest-list-hidden {
    display: none;
}

.rest-list-visible {
    background-color: whitesmoke;
    font-family: fredoka one;
    font-size: .75rem;
    margin: 0;
    padding: .25rem;
    border-bottom: 2.5px solid rgb(65, 65, 65);
}

.rest-list-item:hover {
    color: rgb(0, 105, 240);
    cursor: crosshair;
    background-color: whitesmoke;
    border-bottom: 2.5px solid rgb(65, 65, 65);
}

/* Styling for Restaurant pages */
#restaurant-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info-head {
    display: flex;
    width: 60vw;
    min-width: 600px;
    height: 20vw;
    min-height: 200px;
    overflow: hidden;
}

#rest-basic {
    top: 0px;
    display: flex;
    flex-direction: column;
    width: 40vw;
    min-width: 350px;
    background-color: whitesmoke;
    font-family: fredoka one;
    font-size: 1rem;
    overflow: auto;
    padding: 10px;
    border: 2.5px solid rgb(65, 65, 65)
}

.rest-info {
    font-family: fredoka one;
    font-size: 1rem;
}

#rest-detail {
    background-color: black;
    width: Calc(60vw - 2rem);
    min-width: Calc(600px - 2rem);
    height: auto;
    color: white;
    padding: 1rem;
}

#rest-comments {
    display: flex;
    flex-direction: column;
    width: 60vw;
    min-width: 600px;
    height: auto;
}

#user-comments {
    position: relative;
    width: Calc(60vw - 5px);
    min-width: 595px;
    height: 15vh;
    min-height: 150px;
    border: 2.5px solid rgb(65, 65, 65);
    background-color: whitesmoke;
    overflow: hidden;
}

#comment-scroll {
    text-align: center;
    width: Calc(60vw + 20px);
    min-width: 620px;
    height: 15vh;
    min-height: 150px;
    overflow: auto;
    padding-top: 1.5rem;
}

.comment-list {
    font-family: fredoka one;
    margin-left: 15px;
    margin-right: 35px;
}

.single-comment {
    border-bottom: 4px double rgb(65, 65, 65);
}

#comment-form {
    width: 60vw;
    min-width: 600px;
    height: 20vh;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: fredoka one;
    color: white;
    background-color: black;
    border-top: 4px double white;
}

.text-input {
    font-family: fredoka one;
}

#user-name {
    margin-left: 20px;
}

#comment-input {
    width: 40vw;
    height: 40px;
}

#comment-button {
    width: 10vw;
    min-width: 50px;
    border: 3px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-family: monoton;
}

.main-info {
    font-family: fredoka one;
    font-size: 1.1rem;
}

/* Styling for maps */
#map {
    height: 40vw;
    width: 40vw;
    min-width: 350px;
    min-height: 350px;
    max-height: 525px;
}

#rest-map {
    height: 20vw;
    width: 20vw;
    min-width: 242px;
    min-height: 200px;
}

.leaflet-popup-content-wrapper {
    border: 2px solid  rgb(175, 175, 175);
    font-family: fredoka one;
    font-size: .75rem;
}

.popup-text:hover {
    color: rgb(0, 105, 240);
    cursor: crosshair;
}

/* Styling for Footer */
#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: auto;
    height: 30vh;
    min-height: 225px;
    max-height: 250px;
    background-color: black;
    padding-top: 5px;
    border-top: 5px double white;
}

#footer-links {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    min-width: 450px;
}

.footer-image {
    width: 15%;
    height: auto;
}

.footer-image:hover {
    filter: drop-shadow(5px 5px 5px rgb(250, 74, 74)) invert(75%);
    cursor: pointer;
}

#mail-list {
    display: flex;
    justify-content: space-around;
    width: 55vw;
    min-width: 475px;
    color: white;
    font-family: fredoka one;
}

#main-email {
    background-color: whitesmoke;
    font-family: fredoka one;
    width: 20vw;
}

#input-button {
    display: flex;
    justify-content: space-between;
    width: 31vw;
}

#list-button {
    width: 10vw;
    min-width: 50px;
    border: 3px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-family: monoton;
}

#list-button:hover {
    border: 3px solid rgb(65, 65, 65);
    color: black;
    background-color: whitesmoke;
    cursor: pointer;
}

/* Bottom Bar that keeps a full black at the base of page when scaling */
#bottom-bar {
    z-index: -10;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 50px;
    background-color: black;
}

/* Styling for Mobile Devices */
@media (max-width: 768px) {

    html {
        background: url(../images/desktop-bg.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 100%;
        z-index: 0;
    }
    
    /* Styling for titles and headers */
    #title {
        width: auto;
        height: 10vh;
        min-height: 100px;
        min-width: 350px;
        background-color: black;
    }
    
    h1 {
        font-family: monoton;
        font-size: 6vh;
        color: white;
        margin: auto;
        padding-top: 1vh;
    }

    h2 {
        font-family: monoton;
        color: white;
        padding: 0;
        margin: 0;
    }

    /* Styling for home page content */
    #main-container {
        margin: 0;
        width: auto;
        min-width: 350px;
        max-height: 1000px;
        display: flex;
        flex-direction: column;
    }

    #restaurant-list {
        width: auto;
        height: 20vh;
        min-height: 150px;
        overflow: hidden;
        background-color: rgb(175, 175, 175);
        text-align: center;
    }

    #list-fade {
        pointer-events: none;
        width: 100%;
        height: 25px;
        z-index: 5;
        position: absolute;
        bottom: 0;
        background: linear-gradient(
            rgba(0,0,0,0),
            rgba(0,0,0,.3),
            rgba(0,0,0)
        )  
    }

    .scroll {
        overflow: auto;
        width: Calc(100vw + 20px);
        height: 20vw;
        min-height: 150px;
    }

    .rest-list-item {
        width: 100vw;
        font-family: fredoka one;
        font-size: 1rem;
        margin: 0;
        padding: 1rem 0 1rem 0;
        border-bottom: 2.5px solid rgb(65, 65, 65);
    }

    .rest-list-hidden {
        display: none;
    }
    
    .rest-list-visible {
        width: 100vw;
        background-color: whitesmoke;
        font-family: fredoka one;
        font-size: .75rem;
        margin: 0;
        padding: .25rem 0 .25rem 0;
        border-bottom: 2.5px solid rgb(65, 65, 65);
    }

    /* Styling for Restaurant pages */
    #restaurant-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #info-head {
        align-self: center;
        display: flex;
        width: 100vw;
        max-width: 600px;
        min-width: 300px;
        height: 40vw;
        overflow: hidden;
    }
    
    #rest-basic {
        width: Calc(60vw - 25px);
        max-width: 400px;
        min-width: 150px;
        background-color: whitesmoke;
        font-family: fredoka one;
        font-size: 1rem;
        overflow: auto;
        padding: 10px;
        border: 2.5px solid rgb(65, 65, 65)
    }
    
    #rest-detail {
        background-color: black;
        width: Calc(100vw - 2rem);
        min-width: 200px;
        max-width: Calc(600px - 2rem);
        height: auto;
        color: white;
        padding: 1rem;
    }
    
    #rest-comments {
        display: flex;
        flex-direction: column;
        width: 100vw;
        min-width: 250px;
        max-width: 600px;
        height: auto;
    }
    
    #user-comments {
        width: auto;
        min-width: 250px;
        height: 15vh;
        min-height: 150px;
        border: 2.5px solid rgb(65, 65, 65);
        background-color: whitesmoke;
        overflow: hidden;
    }
    
    #comment-scroll {
        text-align: center;
        width: auto;
        min-width: 250px;
        height: 15vh;
        min-height: 150px;
        overflow: auto;
        padding-top: 1rem;
    }
    
    #comment-form {
        width: auto;
        min-width: 250px;
        height: 20vh;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-family: fredoka one;
        color: white;
        background-color: black;
        border-top: 4px double white;
    }
    
    #comment-input {
        max-width: 500px;
        width: 80vw;
        height: 40px;
    }
    
    #comment-button {
        width: 25vw;
        min-width: 250px;
        border: 3px solid white;
        border-radius: 5px;
        background-color: black;
        color: white;
        font-family: monoton;
    }

    .rest-info {
        font-family: fredoka one;
        font-size: 1rem;
    }
    
    /* Styling for maps */
    #map {
        height: 100vw;
        width: 100vw;
        max-width: 500px;
        max-height: 500px;
        margin: 0 auto 0 auto;
    }

    #rest-map {
        height: 40vw;
        width: 40vw;
        max-width: 400px;
        max-height: 400px;
        margin: 0 auto 0 auto;
    }
    
    /* Styling for footer */
    #footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: auto;
        min-width: 350px;
        height: 25vh;
        background-color: black;
        border-top: 5px double white;
    }

    #footer-links {
        display: flex;
        justify-content: space-between;
        min-width: 300px;
        width: 90vw;
    }
    
    .footer-image {
        width: 12.5%;
        height: auto;
        max-width: 60px;
        max-height: 60px;
    }

    #mail-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 60px;
        min-width: 300px;
        width: 90vw;
        color: white;
        font-family: fredoka one;
    }

    #main-email {
        background-color: whitesmoke;
        font-family: fredoka one;
        width: 60vw;
    }

    #input-button {
        display: flex;
        justify-content: space-between;
        width: 80vw;
    }
    /* Bottom Bar not needed for mobile */
    #bottom-bar {
    display: none;
    }
}